In [1]:
import numpy as np
import pandas as pd
np.random.seed(1) #for reproducibility

In [2]:
no_of_sample = 1000
class_0_ratio = 0.9
no_class_0 = int(no_of_sample * class_0_ratio)
no_class_1 = no_of_sample - no_class_0

In [3]:
no_class_0, no_class_1

(900, 100)

In [4]:
len(np.random.normal(0,1,no_class_0))

900

In [5]:
class_0 = pd.DataFrame({'feature1': np.random.normal(0, 1, no_class_0),
'feature2': np.random.normal(0, 1, no_class_0),
'target': [0]*no_class_0})
class_0

     feature1  feature2  target
0   -0.446699 -1.307971       0
1    0.204377  1.472396       0
2    0.612233  0.074876       0
3    0.744885 -1.786935       0
4   -0.036281  0.165211       0
..        ...       ...     ...
895  0.833679 -1.322762       0
896  2.160456  0.540306       0
897  1.998992 -0.507257       0
898  0.764041  1.128379       0
899  1.687255 -1.223351       0

[900 rows x 3 columns]

In [6]:
class_1 = pd.DataFrame({'feature1': np.random.normal(3, 1, no_class_1),
'feature2': np.random.normal(3, 1, no_class_1),
'target': [1]*no_class_1})
class_1

    feature1  feature2  target
0   2.546497  2.965789       1
1   2.179095  2.718501       1
2   3.940219  3.580178       1
3   1.588707  2.136473       1
4   3.884148  3.326813       1
..       ...       ...     ...
95  1.402786  2.274796       1
96  3.461016  2.861925       1
97  4.316506  3.250043       1
98  3.296370  3.353116       1
99  3.000008  2.499023       1

[100 rows x 3 columns]

In [23]:
df = pd.concat([class_0, class_1])
df

    feature1  feature2  target
0  -0.446699 -1.307971       0
1   0.204377  1.472396       0
2   0.612233  0.074876       0
3   0.744885 -1.786935       0
4  -0.036281  0.165211       0
..       ...       ...     ...
95  1.402786  2.274796       1
96  3.461016  2.861925       1
97  4.316506  3.250043       1
98  3.296370  3.353116       1
99  3.000008  2.499023       1

[1000 rows x 3 columns]

In [24]:
df.target.value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [25]:
df.target.value_counts(normalize=True)

target
0    0.9
1    0.1
Name: proportion, dtype: float64

In [26]:
df_majority = df[df.target == 0]
df_minority = df[df.target == 1]
df_minority

    feature1  feature2  target
0   2.546497  2.965789       1
1   2.179095  2.718501       1
2   3.940219  3.580178       1
3   1.588707  2.136473       1
4   3.884148  3.326813       1
..       ...       ...     ...
95  1.402786  2.274796       1
96  3.461016  2.861925       1
97  4.316506  3.250043       1
98  3.296370  3.353116       1
99  3.000008  2.499023       1

[100 rows x 3 columns]

## oversampling>>upsampling >>increasing the minority to majority no

* pip install scikit.learn

In [27]:
from sklearn.utils import resample

In [28]:
df_minority_upsampled = resample(df_minority, replace=True, n_samples = len(df_majority), random_state =1)

In [29]:
df_minority_upsampled

    feature1  feature2  target
37  2.885843  2.430835       1
12  2.736919  2.996908       1
72  3.562542  3.088282       1
9   4.750722  2.409355       1
75  2.448677  4.986539       1
..       ...       ...     ...
36  5.729462  2.524350       1
98  3.296370  3.353116       1
1   2.179095  2.718501       1
32  1.375641  1.785627       1
30  4.494769  3.436182       1

[900 rows x 3 columns]

In [30]:
df_minority_upsampled.shape

(900, 3)

In [31]:
df_minority_upsampled.duplicated().sum()

800

In [32]:
df_upsampled = pd.concat([df_minority_upsampled, df_majority])

In [33]:
df_upsampled.shape

(1800, 3)

### downsampling

In [35]:
df_majority_downsampled = resample(df_majority, replace=False, n_samples = len(df_minority), random_state =1)
df_majority_downsampled.shape

(100, 3)

In [36]:
df = pd.concat([df_majority_downsampled, df_minority])
df

     feature1  feature2  target
860  0.872579 -1.537535       0
880  1.835870 -0.838450       0
874  0.146532 -0.771039       0
780 -0.859827 -2.018355       0
525  0.320971 -0.521316       0
..        ...       ...     ...
95   1.402786  2.274796       1
96   3.461016  2.861925       1
97   4.316506  3.250043       1
98   3.296370  3.353116       1
99   3.000008  2.499023       1

[200 rows x 3 columns]

### SMOTE>> synthetic minority oversampling technique

In [37]:
from sklearn.datasets import make_classification

In [38]:
X, y = make_classification(n_samples = 1000, n_redundant = 0, 
                           n_features=2, n_clusters_per_class = 1, weights = [0.90], random_state = 1)